.select-io > b{
    width: 100%;
    height: 45px;
    font-family: system-ui;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFFFFF;
    mix-blend-mode: normal;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-right: 10px;
    padding-left: 10px;
    cursor: pointer;
    border-radius: 7px;
}
.select-io{
    transition: all 1s ease-in-out !important;
    border: 3px solid rgba(2, 133, 245, 0.47);
    border-radius: 7px;
}
input.select-io{
    height: 40px;
    padding-left: 5px;
    color: black;
}
input.select-io:focus{
    outline: none;
}
.select-io > ul{
    width: 100%;
    margin-top: 5px;
    background: #0285F5;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
    border-radius: 7px;
     padding: 7px;
    padding-left: 0;
    padding-right: 0;
    transition: none;
    display: none;
}
.value{
    font-weight: 500;
    font-size: 14px;
}
.select-io > ul li{
    height: 40px;
    display: flex;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    align-items: center;
    list-style-type: none;
    border-radius: 7px;
    padding-left: 13px;
    width: calc(100% - 15px);
    margin: auto;
    color: #FFFFFF;
    transition: all 0.3s ease-in-out;
    margin-bottom: 5px;
}
.select-io svg{
    width: 25px;
}
.select-io svg.arrow-head {
    width: 16px;
}
.select-io > ul li.active, .select-io > ul li:hover{
    background-color: white;
    border-radius:7px;
    color: black;
}
.disabled{
    pointer-events: none !important;
}.disabled b{
    background-color: #e9ecef94;
}.rotate{
    transition: all 0.6s ease-in-out;
    transform: rotate(180deg);
}p{
    text-align: center;
    margin-top: 10px;
}
.theme2 ul{
    background: white;
}
.theme2 ul li{
    color: black;
    width: calc(100% - 10px);
    margin: 5px auto;
}
.theme2 > ul li.active, .theme2 > ul li:hover{
    background-color: #0285F5;
    border-radius: 7px;
    color: white;
    display: flex;

    padding-right: 15px;
    justify-content: space-between;
}
#optionsa3432423633rsd4534s45{
    width: 100%;
}
.wrapper234fw3{
    display: flex;
    position: relative;
}
.wrapper234fw3 input{
    width: 100%;
    border: 3px solid rgba(2, 133, 245, 0.47);
}
.wrapper234fw3 b{
    position: absolute;
    right: 10px;
    top: 18px;
    transform: rotate(180deg);
}